@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>@Model.Clock</h1>
    <hr />
    <h1 id="clock"></h1>
</div>

@section Scripts{
    <script src="~/js/clock.js"></script>
}